@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>About - MyMvcApp</title>
</head>
<body>
    <h1>About</h1>
    <p>@ViewData["Message"]</p>
    <p><a href="/">العودة للرئيسية</a></p>
</body>
</html>